<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.aloketewary.iremember">

    <uses-feature android:name="android.hardware.bluetooth" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:backupInForeground="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- Start the Service if applicable on boot -->
        <receiver android:name="io.aloketewary.iremember.services.BootstrapService">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="BluetoothDevice.ACTION_ACL_DISCONNECT_REQUESTED" />
                <action android:name="BluetoothAdapter.STATE_OFF" />
            </intent-filter>
        </receiver>

        <activity android:name="io.aloketewary.iremember.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.aloketewary.iremember.BluetoothPairing"
            android:parentActivityName="io.aloketewary.iremember.HomeActivity" />

        <!-- <service android:nairememberher.services.BTBackgroundService" -->
        <!-- android:exported="false"> -->
        <!--  -->
        <!-- </service> -->
        <activity
            android:name="io.aloketewary.iremember.GPSActivity"
            android:parentActivityName="io.aloketewary.iremember.HomeActivity" />
        <activity
            android:name="io.aloketewary.iremember.HelpActivity"
            android:parentActivityName="io.aloketewary.iremember.HomeActivity" />
        <activity
            android:name="io.aloketewary.iremember.AboutActivity"
            android:parentActivityName="io.aloketewary.iremember.HomeActivity"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>